.title{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 18px;
}

table, td, th {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   text-align: left;
   border: 3px solid lightGrey;
   border-collapse: collapse;
}

.inputContainerFunctionarea {
   position: relative;
   width: 95%;
}

input {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   text-align: left;
   border: 3px solid lightGrey;
   border-collapse: collapse;
   width: 94%;
   border-color: transparent;
}

.inputContainerFunctionarea .alwaysDisplayFunctionarea{
   display: block;
   position: absolute;
   top: 3px;
   margin: 0px 0px 3px 3px;
}

th{
   background-color: lightGrey;
   padding: 3px 3px 3px 3px;
   font-size: 11px;
}

.inputContainer {
   position: relative;
   width: 100%;
}

.alwaysDisplay{
   display: block;
   position: absolute;
   top: 3px;
   margin: 0px 0px 3px 3px;
}